@font-face {
  font-family: 'Endor';
  font-weight: normal;
  src: url('../assets/fonts/endor.ttf') format('truetype'),
    url('../assets/fonts/endorAlt.ttf') format('truetype');
}

:root {
  font-family: 'Endor', 'arial', 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #312e2b;
}

.wrapper {
  display: inline-block;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  min-width: 10rem;
  max-width: 30rem;

  background-image: url('../assets/metalBoard.jpg');
  background-size: contain;
}

.field {
  width: 100%;
  aspect-ratio: 1 / 1;
  .figure {
    position: relative;
    height: 100%;
    width: 100%;
    img {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      height: 100%;
      width: 100%;
    }
  }
}

.paused {
  pointer-events: none;
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
}
.numbered {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  display: grid;
  place-content: center;
  border-radius: 100%;
  background-color: black;
  font-size: 0.85rem;
  font-weight: 500;
  height: 1.125rem;
  width: 1.125rem;
  pointer-events: none;
}

.dark-wood {
  background-image: url('../assets/darkWood.svg');
  background-size: contain;
}

.light-wood {
  background-image: url('../assets/lightWood.svg');
  background-size: contain;
}
