:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #312e2b;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  place-items: center;
  min-width: 10rem;
  max-width: 32rem;
  margin: 1rem;
  background-image: url('../assets/metalBoard.jpg');
  background-size: contain;
}

.field {
  width: 100%;
  aspect-ratio: 1 / 1;
  .figure {
    height: 100%;
    width: 100%;
    img {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      height: 100%;
      width: 100%;
    }
  }
}

.paused {
  pointer-events: none;
}

// .field.light {
//   background-image: url('../assets/lightWood.svg');
//   background-size: contain;
// }

// .field.dark {
//   background-image: url('../assets/darkWood.svg');
//   background-size: contain;
// }
